# OSX
.DS_Store

# NPM
node_modules/

# Build
applications/*/dist/
.turbo/

# Test artifacts
coverage/

# Infrastructure
infrastructure/postgres/

# IDE
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/mongoSettings.xml
.idea/httpRequests

# Playwright
tests/test-results/
tests/playwright-report/
tests/blob-report/
tests/playwright/.cache/
tests/playwright/.auth/